.lading-mom{
    display: flex;
    flex-direction: column;
    position: relative;

    .hero-sec{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: linear-gradient(108.28deg,
        #43AFFF 38%, rgba(0, 147, 255, 0.3) 98.96%);
        padding: 0em 1em 0em 1em;
        align-items: center;
        

        .sub-hero{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 30em;

            .text-area{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
    
                height: 20em;
                width: 24em;
    
    
                .hero-title{
                    font-family: 'Poppins-Bold';
                    font-size: 30px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
    
                .texto-hero{
                    font-family: 'Poppins-Bold';
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #FFFFFF;
    
                    span{
                        color: #FF6909;
                    }
                }
    
                .nome{
                    font-family: 'Poppins-Bold';
                    font-size: 16px;
                    color: #FFFFFF;
                }
    
                .hero-button{
                    font-family: 'Poppins-Bold';
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background-color: #FF6909;
                    border: none;
    
                    width: 200px;
                    height: 42px;
                }
            }

        }
        .img-hero img{
            width: 80%;
            height: auto;
        }
    }

    .faixa2-lading{
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 100%;

        .f2-sub{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height:30em;
            width: 70%;

            .f2-top{
                display: flex;
                flex-direction: column;
                line-height: .5em;
                .title{
                    font-family: 'Poppins-SemiBold';
                    font-size: 30px;
                    color:#FF6909;
                    text-transform: uppercase;
                }

                .text{
                    font-family: 'Poppins-Medium';
                    font-size: 20px;
                    color:#000000;
                }

            }
            .f2-cards{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        .f2-button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        .f2-button button{
            
            font-family: 'Poppins-SemiBold';
            font-size: 20px;

            align-self: center;

            color:#FFFFFF;
            background: #FF6909;
            border:none;
            
            height: 2.5em;
            width:9em
        }

    }

    .faixa3-lading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        background-color: #43AFFF;
        
        padding: 3em;
        min-height:35em;
        width: 100%;
        position: relative;

        .f3-dog{
            width: 25em;
            height: auto;
            left: 0;
            top:-10em;
            position: absolute;
        }

        .f3-sub{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 67%;

            .f3-item{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding: 1em;
                width: 20em;
                height: 20em;

                img{
                    width: 7em;
                }

                .f3-title{
                    font-family: 'Poppins-Bold';
                    text-transform: uppercase;
                    
                    font-size: 18px;
                    color: #FFFFFF;
                }

                .f3-desc1{
                    font-family: 'Poppins-Regular';
                    
                    font-size: 16px;
                    color: #FFFFFF;
                    width: 15em;
                }
                .f3-desc2{
                    font-family: 'Poppins-Regular';
                    
                    width: 16em;
                    font-size: 16px;
                    color: #FFFFFF;
                }
                .f3-desc3{
                    font-family: 'Poppins-Regular';
                    
                    width: 15em;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }
        }
    }


    .f4-lading{
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-image: url("../../../public/assets/images/f3dog.png");
        background-size: 53em;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: 100%;

        height: 35em;
        padding: 3em;

        .f4-sub{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 2em;
            width: 50%;
            line-height: 0;
            height:10em;

            .f4-title{
                font-family: 'Poppins-SemiBold';
                font-size: 35px;
                color: #FF6909;
            }

            .f4-desc{
                font-family: 'Poppins-Medium';
                font-size: 18px;
                width: 80%;
                line-height: 1.3em;
                label{
                    font-weight: 1000;
                }
            }
        }
    }

    .f5-lading{

        display:flex;
        flex-direction: column;
        justify-content: center;

        background-color: #43AFFF;
        min-height: 35em;
        width: 100%;
        padding:2em;

        .f5-sub{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:center;
            height: 30em;

            .f5-title{
                font-family: 'Poppins-SemiBold';
                font-size: 35px;
                color:#FFFFFF;
            }   

            .f5-kits{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;

                .kit{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    text-align: center;
                    line-height: 0;
                    width:25%;
                    
                    .image{
                        width:5em;
                        height:auto;
                    }
                    
                    .title{
                        font-size: 18px;
                        line-height: 1em;
                        font-family:'Poppins-Bold';
                        color: #FFF;
                        width: 80%;
                    }
                    
                    .desc1{
                        font-size:14px;
                        font-family:'Poppins-Regular';
                        color: #FFF;
                        width: 80%;
                        line-height: 1.5em;
                        
                    }
                    .desc2{
                        font-size:14px;
                        font-family:'Poppins-Regular';
                        color: #FFF;
                        width: 50%;
                        line-height: 1.5em;
                        
                    }
                    .desc3{
                        font-size:14px;
                        font-family:'Poppins-Regular';
                        color: #FFF;
                        width: 80%;
                        line-height: 1.5em;
                        
                    }
                    .desc4{
                        font-size:14px;
                        font-family:'Poppins-Regular';
                        color: #FFF;
                        width: 60%;
                        line-height: 1.5em;
                        
                    }
                }
            
            }

        
            .f5-button{
                    
                font-family:'Poppins-Bold';
                font-size: 20px;
                
                color: #43AFFF;
                background-color: #FFF;

                border: none;
                height:2em;
                width:6em;
            }
        
        }
    }

}