.Card{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    box-shadow: 2px 0px 30px 3px rgba(0, 0, 0, 0.25);
    
    .image-left{
        display: flex;
        justify-content: center;   
    }

    .Card-right{
        display: flex;
        flex-direction: column;
        width: 70%; 
        margin-left: .8em; 

    }
    .text{
        font-family: 'Poppins-Regular';
        font-size: 13px;
    }
    .botao-img{
        cursor: pointer;         
        display: flex;
        flex-direction: row;       
    }
    
    .botao{
        background-color: #FF6909;
        width: 6em;
        padding: .5em 1em .5em 1em;
        color: #ffff;
        border-radius: 3px;         
    }
    .img-interative{
        margin-left: 5.5em;
    }
    }
