.comp-card-admin{

    width: 95%;
    height: 250px;
 
    display: flex;
    flex-direction: row;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);

    .image {
        width: 40%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }   
    }
    .text{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
        
        .title{
            font-size:2em;
            font-family: 'Poppins-Medium';
        }
        .infos{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 15px;

            font-family: 'Poppins-Regular';
        }

        .desc{
            font-family: 'Poppins-Regular';
        }

        .btns{
            display: flex;
            justify-content: space-between;
            
            font-size: 1.1em;
            font-family: 'Poppins-Regular';

            
            & > div:first-child{
                cursor: pointer;
            }
            
            & > :nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 30px;
                background-color: #FF6909;
                color: white;
            }
            
            & > :nth-child(2){
                display: flex; 
                gap: 15px;
            }

            & > div:last-child{
                .img{
                    cursor: pointer;
                }
            }
        }

    }
}   