.meus-interesses-page{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
 
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2em;
        .comp1{
            display: flex;
            justify-content: center;
            width: 50%;
            margin-left: 5em;
        }
    }
}