*{
    border: 1px solid #FF6909;
}
.feed-main{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    width: 100%;
    height: auto;

    .card-input{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        margin: 4em;
    }
    .input{
        width: 65em;
        height: 2em;
        outline: none;
        font-family:'Poppins-Medium' ;
        margin-bottom: 4em;
        background-color: #c8c8c8;
        border: none;
    }
}
