.nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:57vw;
    align-items: center;
    height: 3em;
    position: absolute;
    right: 10em;
    top: 0;


    .nav-text a{
        font-size: 14px;
        font-family: 'poppins-medium';
        text-decoration: none;
        color: #000;
        padding: 1em;
        cursor: pointer;
    }
}