.comp-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #FFFFFF;

    width: 100%;

    height: auto;

    .left-area{
        width: 60%;
        height: auto;
        
        img{
            width: 100%;
            height: 100%;
        }
    }

    .right-area{    
        padding: 1em;
        width: 65%;

        .text-area{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            line-height: 1.3em;

            .card-title{
                font-family: 'Poppins-SemiBold';
                font-size: 30px;
                color: #000000;
            }

            .card-raca{
                font-family: 'Poppins-Regular';
                font-size: 16px;
                color: #000000;
            }

            .card-desc{
                font-family: 'Poppins-Regular';
                font-size: 14px;
                width: 93%;
            }
            .card-idade{
                font-family: 'Poppins-Regular';
                font-size: 14px;
                margin: 0px;
            }
        }

        .buttons-area{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;


            .buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 45%;
                .botao{
                    flex-direction: row;
                    display: flex;

                    border-radius: 2em;
                    padding: .5em 1em .5em 1em;
                    background-color: #FF6909;
                    border: none;

                    font-family: 'Poppins-Regular';
                    color: #FFFFFF;       
                }
            }

            


        }

    }


}