.cards-mom{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    line-height: 0;


    .carde{
        display: flex;
        flex-direction: row;
        justify-content: space-between;         
        background: #FFFFFF;            
        background-color: #FFFFFF;
        width: 55em;
        height:14em;
        margin-bottom: 2em;
        
        
    
        
        .card-image{
            width:15em;
            height: auto;
        }
    
        .left-card{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
    
            height:14em;
    
            padding: .5em;
        }
    
        .text-card{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            height:11em;
            width: 38em;
            line-height: 1em;
        }
    
        .little-desc{
            line-height: normal;
            font-family: 'Poppins-Regular';
            font-size: 13px;
        }
    
        .titleCard{
            font-family: 'poppins-semibold';
            font-size: 20px;
        }
    
        .little-letters{
            font-family: 'Poppins-Regular';
            font-size: 13px;
        }
        .buttons-div{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            .butoes{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 15em;
            }
        
            .butao{
                height: 2em;
                width: 8em;
                color: #FFFFFF;
                border:none;
           
                background: #FF6909;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
                border-radius: 15px;
            }
        }
        
    }

}