.comp-sideBar{
    padding: 1em 0em 1em 0em;
    overflow-x: hidden;
    align-items: center;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    width: 23vw;


    .logo img{
        width: 8em;;
    }
    .title{
        font-family: 'poppins-bold';
        font-size: 15px;
        color: #CE5101;   
    }

    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20em;
    
        .element-info{
            display: flex;
            border: solid 2px #ffffff;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 11em;
            cursor: pointer;
            padding: 0em 1em 0em 1em;
        }
        
        .element-button{
        border: none;
        background: none;
        cursor: pointer;
        font-size: 14px;
        padding-left: 1em;
        font-family: 'poppins-semibold';
        color:#CE5101;
        }

        .comp-image {
            width: 1.3em;
            height: 1.3em;
        }

    }

    .sair-button{
        cursor: pointer;
        border: none;
        background: none;
    }
    
    .sair-button img {
        width: 2em;
        height: 2em;
    }

    

}