.comp-sideBar{
    overflow-x: hidden;
    align-items: center;
    display: flex;
    border:solid 2px;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    width: 23vw;

    .logo img{
        width: 10em;;
    }
    .title{
        font-family: century;
        color: #CE5101;   
    }

    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30em;;
    
        .element-info{
            display: flex;
            border: solid 2px #ffffff;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 10em;
            cursor: pointer;
            padding-left: 1em;
            padding-right: 1em;
        }
        .element-info:hover{
            transition: 7ms;
            border: solid 2px #CE5101 ;
            border-color: #CE5101;

           .element-button{
            font-size: 19px;
           }
           .comp-image {
            width: 2.5em;
            height: 2.5em;
        }

        }
    
    }

    .element-button{
        border: none;
        background: none;
        font-size: 16px;
    }



    .comp-image {
        width: 2em;
        height: 2em;
    }

    .sair-button{
        cursor: pointer;
        border: none;
        background: none;
    }
    .sair{
        align-items: center;
        height: 3em;
        width: 3em;
    }

    .sair-button img:hover{
        transition: 7ms;
        width: 2.7em;
        height: 2.7em;
    }
    .sair-button img {
        width: 2.5em;
        height: 2.5em;
    }


}