.side-feed{
    display: flex;
    flex-direction: column;
    min-height:100%;
    width: 14vw;
    align-items: center;

    background-color: #FFFFFF;

    .side-sub-feed{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 50vh;
        width: 13vw;    
    }

    .animais{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: none;
        height: 13em;
        width: 90%;
    }

    .side-title{
        font-family: 'Poppins-Regular';
        font-size: 17px;
        color: #FF6909;
    }

    .side-text{
        font-family: 'Poppins-Regular';
        font-size: 14px;
    }

    .check-side{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        width: 100%;
    }


}

@media(max-width:900px){
    .side-feed{
        .side-sub-feed{
            .side-text{
                font-size: 12px;
            }

            .side-title{
                font-size: 15px;
            }
        }
    }
}