.feedmain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    background-color: #E6EEF4;

    align-items: center;
    
    min-height: 100vh;


    .top{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;

        .dog-procure{
            width:200px;
            height:auto;
        }

        .pesquisa{
            width: 65em;
            height: 3em;
            outline: none;
            font-family:'Poppins-Medium' ;
        }
    }

    
    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 100vh;
        width: 100%;
     

        .card-s{
            display:flex;
            flex-direction: column;
            width: 60em;
            justify-content: space-around; 
            flex-wrap: wrap;  
            align-items: center;
            gap: 1.5em;
        }
    
    }

  

   


}