.comp-side-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    box-shadow: 2px 0px 100px 3px rgba(0, 0, 0, 0.25);

    width: 25%;
    height: 100vh;


    .side-sub{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        width: 90%;
        padding: 1.5em;


        .logo{
            align-self: center;
            width: 10em;
        }

        .titulo{
            font-family: 'Poppins-Bold' ;
            font-size: 20px;
            color: #CE5101;
            align-self: center;
        }

        .items-area{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50%;
            width: 90%;
            align-self: center;

            .element-info{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                text-align: center;
                justify-content: space-between;
                width: 100%;
                gap: 1em;

                .comp-image{
                    width: 2em;
                    height: auto;
                }

                .element-button{
                    border: solid transparent;
                    background:none;
                    font-size: 16px;
                    font-family: 'Poppins-Semibold';
                    text-transform: capitalize;
                    text-align: left;
                    align-items: center;
                    color: #CE5101;
                    width: 90%;
                }

            }

        }


        .logout{
            display: flex;
            flex-direction: row;
            align-self: left;
            padding-left: .7em;

            img{
                width: 2.5em;
            }

            button{
                border: solid transparent;
                background:none;
                font-size: 16px;
                font-family: 'Poppins-Semibold';
                text-transform: capitalize;
                text-align: left;
                align-items: center;
                color: #CE5101;
                width: 90%;
            }

        }

    }


    
}   