.ajude-mom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .hero-ajude{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #43AFFF;
        min-height: 35em;
        width: 100%;

        background-image: url("../../../public/assets/images/gatologo.png");
        background-size: 30em;
        background-repeat: no-repeat; 
        background-position: 0% 100%;


        .sub-hero{
            display: flex;
            flex-direction: row;
            justify-content :flex-end;
            text-align: end;
            width: 50%;
            
            
            .text-area{
                display: flex;
                flex-direction: column;
                justify-content :space-around;
                width: 50%;

                .title{
                    font-family: 'Poppins-Bold';
                    color: #FFFFFF;
                    font-size: 30px;
                }
    
                .desc{
                    font-family: 'Poppins-Regular';
                    color: #FFFFFF;
                    font-size: 18px;
                    width: max-content;
                }
            }

        }
    }




}