@font-face {
	font-family: "poppins-regular";
	src: url("../../public/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "poppins-medium";
	src: url("../../public/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
	font-family: "poppins-semibold";
	src: url("../../public/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: "poppins-bold";
	src: url("../../public/assets/fonts/Poppins-Bold.ttf");
}

body {
    margin: 0px;
}

*{
    box-sizing: border-box;
}