.userPost-Main{
    display: flex;
    flex-direction: row;
    min-height: 100vh;


    .top-post{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 1.5em;
        margin-top: 5em;
        width: 72.9%;
        height: auto;
        gap: 1.5em;
    }
    .comp{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}